trigger:
- main

variables:
  terraformFolder: "app/terraform"

stages:
# ================= Terraform =================
- stage: Terraform
  jobs:
  - job: TerraformDeploy
    pool:
      name: agent2

    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTaskV4@4
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'azure-free-trial-manual'
        backendAzureRmResourceGroupName: 'rg-tf-backend'
        backendAzureRmStorageAccountName: 'tfstate47530'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'functionapp.tfstate'
        workingDirectory: '$(terraformFolder)'

    - task: TerraformTaskV4@4
      inputs:
        provider: 'azurerm'
        command: 'apply'
        environmentServiceNameAzureRM: 'azure-free-trial-manual'
        workingDirectory: '$(terraformFolder)'
        commandOptions: '-var-file=env/dev.tfvars -auto-approve'

# ================= Deploy Function Code =================
- stage: DeployFunction
  dependsOn: Terraform
  jobs:
  - job: Deploy
    pool:
      name: agent2

    steps:
    - task: AzureFunctionApp@1
      inputs:
        azureSubscription: 'azure-free-trial-manual'
        appType: 'functionAppLinux'
        appName: 'demo-dev-func'
        package: 'app/function'
